@model List<Bloggie.Web.Models.Domain.Tag>
@{
	int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
	int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
}

<div class="bg-secondary bg-opacity-10 py-2">
	<div class="container">
		<h1> Show All Tags - admin functionality</h1>
	</div>
</div>

<form method="get"
	  asp-controller="AdminTags"
	  asp-action="List">
	<div class="container mt-5">
		<div class="row">
			<div class="col col-md-3 d-flex">
				<input type="text" class="form-control"
					   name="searchQuery" value="@ViewBag.SearchQuery" />
				<button type="submit" class="btn btn-warning ms-3">Search</button>
			</div>
		</div>
	</div>
</form>


<div class="container py-5">
	@if (Model != null && Model.Any())
	{
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>
						Name
						<span>
							<span>
								<a class="btn btn-light"
								   asp-controller="AdminTags"
								   asp-action="List"
								   asp-route-sortBy="Name"
								   asp-route-sortDirection="Asc"
								   asp-route-searchQuery="@ViewBag.SearchQuery">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-up"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 5l0 14" /><path d="M16 9l-4 -4" /><path d="M8 9l4 -4" /></svg>
								</a>
							</span>
							<span>
								<a class="btn btn-light"
								   asp-controller="AdminTags"
								   asp-action="List"
								   asp-route-sortBy="Name"
								   asp-route-sortDirection="Dsc"
								   asp-route-searchQuery="@ViewBag.SearchQuery">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-down"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 5l0 14" /><path d="M16 15l-4 4" /><path d="M8 15l4 4" /></svg>
								</a>
							</span>
						</span>
					</th>
					<th>
						Display Name
						<span>
							<span>
								<a class="btn btn-light"
								   asp-controller="AdminTags"
								   asp-action="List"
								   asp-route-sortBy="DisplayName"
								   asp-route-sortDirection="Asc"
								   asp-route-searchQuery="@ViewBag.SearchQuery">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-up"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 5l0 14" /><path d="M16 9l-4 -4" /><path d="M8 9l4 -4" /></svg>
								</a>
							</span>
							<span>
								<a class="btn btn-light"
								   asp-controller="AdminTags"
								   asp-action="List"
								   asp-route-sortBy="DisplayName"
								   asp-route-sortDirection="Dsc"
								   asp-route-searchQuery="@ViewBag.SearchQuery">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-down"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 5l0 14" /><path d="M16 15l-4 4" /><path d="M8 15l4 4" /></svg>
								</a>
							</span>
						</span>
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var tag in Model)
				{
					<tr>
						<td>@tag.Id</td>
						<td>@tag.Name</td>
						<td>@tag.DisplayName</td>
						<td>
							<a asp-area="" asp-controller="AdminTags"
							   asp-action="Edit"
							   asp-route-id="@tag.Id">Edit</a>
						</td>
						<td>
							<a asp-area="" asp-controller="AdminTags"
							   asp-action="Delete"
							   asp-route-id="@tag.Id">Delete</a>
						</td>
					</tr>
				}
			</tbody>
		</table>

		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item">
					<a class="page-link"
					   asp-controller="AdminTags"
					   asp-action="List"
					   asp-route-pageNumber="@prevPage"
					   asp-route-pageSize="@ViewBag.PageSize"
					   asp-route-sortBy="@ViewBag.SortBy"
					   asp-route-sortDirection="@ViewBag.SortDirection"
					>
						Previous
					</a>
				</li>

				@for (int i = 1; i <= ViewBag.TotalPages; i++)
				{
					<li class="page-item">
						<a class="page-link"
						   asp-controller="AdminTags"
						   asp-action="List"
						   asp-route-pageNumber="@i"
						   asp-route-pageSize="@ViewBag.PageSize">
							@i
						</a>
					</li>
				}
				<li class="page-item">
					<a class="page-link"
					   asp-controller="AdminTags"
					   asp-action="List"
					   asp-route-pageNumber="@nextPage"
					   asp-route-pageSize="@ViewBag.PageSize"
					   asp-route-sortBy="@ViewBag.SortBy"
					   asp-route-sortDirection="@ViewBag.SortDirection">

						Next
					</a>
				</li>
			</ul>
		</nav>
	}
	else
	{
		<p>No tags found!</p>
	}
</div>
